
/** NOT MOBILE - screens larger than 414px */
@media screen and (min-width: 415px) {
  :root{
    --blue: #00B4C8;
    --green: #1BC437;
    --red: #D83D00;
    --brown: #946B0D;
  }

  @font-face{
    font-family: sansation;
    src: url(../public/assets/fonts/Sansation_Bold.ttf)
  }

  @font-face {
    font-family: slim;
    src: url(../public/assets/fonts/BodyGrotesque-SlimLight.ttf);
  }
  
  #root {
    position: absolute;
    height: 95vh;
    width: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: auto;
    
  }
  .phone-overlay {
    position: absolute;
    top: 7vh;
    left: 34vw;
    background: url(../public/assets/images/Iphone-12-overlay-removebg-preview.png);
    background-size: cover;
    z-index: 1;
    width: 450px;
    height: 915px;
  }
  /* Backgrounds to phone overlays */
  .background {
    position: absolute;
    top: 7vh;
    left: 35vw;
    width: clamp(420px, 420px, 420px);
    height: clamp(903px, 903px, 903px);
    background-color: var(--blue);
    z-index: 0;
    border-radius: 73px;
  }
  .btm-nav {
    height: 12%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--green);
    border-radius: 0 0 73px 73px;
  }
  /* App Content position and Styling  */
  .app-area{
    margin: 12% 9% 0 9%;
  }
  .btm-nav-content ul{
    position: absolute;
    bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btm-nav-content li{
    display: inline;
    margin: 10px;
  }
  .daysq {
    width: 25px;
    height: 25px;
    background-color: var(--red);
    display: inline-block;
  }
}
/** MOBILE STYLING - screens smaller than 414px */
@media screen and (max-width: 414px) {
  @font-face{
    font-family: sansation;
    src: url(../public/assets/fonts/Sansation_Bold.ttf)
  }

  @font-face {
    font-family: slim;
    src: url(../public/assets/fonts/BodyGrotesque-SlimLight.ttf);
  }
  
  .app-area{
    height: 100vh;
  }

  .btm-nav-content ul{
    position: absolute;
    bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5vh;
    padding: 0;
  }
  .btm-nav-content li{
    display: inline;
    margin: 0;
  }
  .link{
    text-decoration: none;
  }
  .nav-span {
    margin-left: 8px;
    font-size: 1.3rem;
    font-family: slim;
    font-weight: bold;
  }

  .week {
    display: flex;
    justify-content: space-around;
    margin: 10px 5px;
  }
  .landing {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .daysq {
    border-radius: 10%;
    width: 50px;
    height: 50px;
    border: none;
  }
  .daysq_1 {
    border-radius: 10%;
    width: 50px;
    height: 50px;
    background-color: #FCD2D1;
    border: none;
  }
  .daysq_2 {
    border-radius: 10%;
    width: 50px;
    height: 50px;
    background-color: #FE8F8F;
    border: none;
  }
  .daysq_3 {
    border-radius: 10%;
    width: 50px;
    height: 50px;
    background-color: #FF5C58;
    border: none;
  }
  .stand {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    justify-content: space-around;
  }
  .stand-text {
    margin: 0 40px;
  }
  .stand-header {
    display: flex;
  }
  .new-stand-btn {
    border: none;
    background: transparent;
    font-size: 3rem;
    color: green;
  }
  .stand-edit-button {
    margin: 10px;
    background-color: transparent;
    border: none;
    width: 45px;
    font-size: 1rem;
  }
  .new-day-btn {
    height: 40px;
    font-size: 1.4rem;
    margin: 40px;
  }
  .stand-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text-abril{
    font-family: 'Abril Fatface', cursive;
  }
  .logo {
    font-size: 3rem;
  }
  .date-heading {
    text-align: center;
  }
  .fa-dollar-sign {
    color: green;
  }
  .job-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}