
/** NOT MOBILE - screens larger than 414px */
@media screen and (min-width: 415px) {
  #root {
    position: absolute;
    height: 95vh;
    width: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: auto;
  }
  .phone-overlay {
    position: absolute;
    top: 7vh;
    left: 34vw;
    background: url(../public/assets/images/Iphone-12-overlay-removebg-preview.png);
    background-size: cover;
    z-index: 1;
    width: 450px;
    height: 915px;
  }
  /* Backgrounds to phone overlays */
  .background {
    position: absolute;
    top: 7vh;
    left: 35vw;
    width: clamp(420px, 420px, 420px);
    height: clamp(903px, 903px, 903px);
    background-color: lightblue;
    z-index: 0;
    border-radius: 73px;
  }
  .btm-nav {
    height: 12%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: greenyellow;
    border-radius: 0 0 73px 73px;
  }
  /* App Content position and Styling  */
  .app-area{
    margin: 12% 9% 0 9%;
  }
  .btm-nav-content ul{
    position: absolute;
    bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btm-nav-content li{
    display: inline;
    margin: 10px;
  }
  .daysq {
    width: 25px;
    height: 25px;
    background-color: red;
    display: inline-block;
  }
}
/** MOBILE STYLING - screens smaller than 414px */
@media screen and (max-width: 414px) {
  .app-area{
    height: 100vh;
  }
  .week {
    display: flex;
    justify-content: space-around;
  }
  .landing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
  }
  .daysq {
    width: 50px;
    height: 50px;
  }
  .stand {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stand-text {
    margin:40px;
  }
  .stand-button {
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
    border-radius: 100%;
  }
  .new-day-btn {
    height: 40px;
    font-size: 1.4rem;
    margin: 40px;
  }
}