
/** NOT MOBILE - screens larger than 414px */
@media screen and (min-width: 414px) {
  #root {
    position: absolute;
    height: 95vh;
    width: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: auto;
  }
  .phone-overlay {
    position: absolute;
    top: 5vh;
    left: 30vw;
    background: url(../public/assets/images/Iphone-12-overlay-removebg-preview.png);
    background-size: cover;
    z-index: 1;
    width: 450px;
    height: 915px;
  }
  /* Backgrounds to phone overlays */
  .background {
    position: absolute;
    top: 5.5vh;
    left: 31vw;
    width: clamp(420px, 420px, 420px);
    height: clamp(903px, 903px, 903px);
    background-color: lightblue;
    z-index: 0;
    border-radius: 73px;
  }
  .btm-nav {
    height: 12%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: greenyellow;
    border-radius: 0 0 73px 73px;
  }
  /* App Content position and Styling  */
  .app-area{
    margin: 12% 9% 0 9%;
  }
  .btm-nav-content{
    position: absolute;
    bottom: 2vh;
  }
}
/** MOBILE STYLING - screens smaller than 414px */
@media screen and (max-width: 414px) {

}